.Menu {
  font-family: cursive;
  border-radius: 50vh;
  font-family: cursive;
  margin: 0vh;
  list-style: none;
  padding: 1vh 0;
  justify-content: space-around;
  display: flex;
  border: 0.5vh solid #00385e;
  background-color: #00385e;
}
body {
  background-color: #ddd;
  margin: 0vh;
}
nav ul {
  color: #ddd;
}
a {
  text-align: center;
  color: inherit;
  text-decoration: none;
}
.teste{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}